body {
  font-family: sans-serif;
  font-size: 17px;
}

h1 {
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
}

h3 {
  font-family: sans-serif;
}


.main-title {
  text-align: center;
}

main {
  justify-content: space-around;
  display: flex;
}

.split {
  flex: 1;
  display: block;
  padding: 10px;
}

form {
  background-color: #F8F8FF;
  padding: 7px;
  border-radius: 12px;
}

button {
  background-color: #FFEBCD; 
  border: 2px solid black;   
  border-radius: 12px;           
  color: black;              
  padding: 10px 16px;        
  text-align: center;        
  text-decoration: none;     
  display: inline-block;  
  font-size: 16px;           
  margin: 4px 2px;        
  cursor: pointer;          
  transition: background-color 0.3s, color 0.3s; 
}

button:hover {
  background-color: rgb(2, 129, 202);         
}  

input[type=number] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: 3px solid #ccc;
-webkit-transition: 0.5s;
transition: 0.5s;
outline: none;
}

input[type=number]:focus {
border: 3px solid #2F4F4F;
}



button.Calculate {
  font-family: 'Lato', sans-serif;
  font-weight: 700; 
  font-size: 18px;
}

button.RESET {
  font-family: 'Lato', sans-serif;
  font-weight: 700; 
  font-size: 18px; 
}



section .result {
  text-align: center;
  background-color: #F8F8FF;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result button {
  display: block;
  margin: 0 auto;
}

.RadioInput {
  font-size: 15px;
  font-weight: 200;
  text-transform: capitalize;
  display: inline-block;
  color: Black;
  font-family: poppins, sans-serif;
  margin-bottom: 20px;
}

.RadioPisah + .RadioPisah {
  margin: 20px;
}

a:link, a:visited {
  background-color: #00a6d8;
  color: rgb(0, 0, 0);
  padding: 12px 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  border: 2px solid;
  font-size: 15px;
  font-weight: 200;
  font-family: poppins, sans-serif;
  text-transform: capitalize;
}

a:hover, a:active {
  background-color: #FFEBCD;
  transition: background-color 0.3s, color 0.3s;
}

.style {
  margin-left: 30px;
  text-align: center;
}

a.style, a.style {
  font-family: 'Lato', sans-serif;
  font-weight: 700; /* Sesuaikan dengan kebutuhan */
  font-size: 16px; /* Sesuaikan dengan kebutuhan */
}


.akhir {
  background-color: #F8F8FF;

}


.information {
  margin-top: 70px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.styled {
  margin-left: 30px;
  text-align: center;
}




.gemukkurus {
  margin-bottom: 30px;
  padding-top: 20px;
}

.linkGizi {
  margin-top:50px;
    font-family: 'Lato', sans-serif;
}

a {
    font-family: 'Lato', sans-serif;
    font-weight: 700; 
    font-size: 16px;
}


.playstore, .apple {
  width: 200px;
  border: none;
  background: #F8F8FF;
  border: none;
}

.playstorelink {
  background-color:#F8F8FF;
}



.GambarApk a {
  display: inline-block;
  pointer-events: none; 
  background-color: #F8F8FF;
  border: none;
}

.GambarApk {
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  background-color: #F8F8FF;
}

.GambarApk img {
  width: 200px;
  margin: 10px;
  display: inline-block;
  pointer-events: auto; 
}

/* Modal CSS */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
